{% extends 'dashboard/base.html' %}

{% if account is not none %}
    {% set active_page = 'dashboard.accounts.%d' % account.id -%}
{% else %}
    {% set active_page = 'dashboard.accounts' -%}
{% endif %}

{% block styles %}
    {{ super() }}

    <style>
        header p {
            font-size: 0.75rem;
        }

        header p.positive {
            font-size: 1rem;
            color: #5bbd78;
        }

        .account-toolbar {
            font-size: .9rem;
        }

        .account-toolbar .feather {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }

        .account-toolbar span:hover {
            color: #212529;
            cursor: pointer;
        }

        table thead tr th {
            border-right: 1px solid #dee2e6;
        }
    </style>
{% endblock %}

{% block dashboard_content %}
    {% if account is not none %}
        <header>
            <div class="budget-header d-flex py-3 bg-dark text-light">
                <span class="badge badge-pill badge-success ml-3 d-inline-flex align-items-center justify-content-center">
                    {{ account.name }}
                </span>
                <div class="d-flex flex-column justify-content-center align-items-center ml-3">
                    <p class="mb-0 font-italic">Working Balance</p>
                    <p class="mb-0 font-weight-bold positive">$0.00</p>
                </div>
            </div>
            <div class="account-toolbar text-muted p-1">
                <span data-toggle="modal" data-target="#addTransactionModal">
                    <span data-feather="plus-circle"></span>
                    Add Transaction
                </span>
            </div>
        </header>

        <section role="main">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Payee</th>
                        <th scope="col">Category</th>
                        <th scope="col">Memo</th>
                        <th scope="col">Outflow</th>
                        <th scope="col">Inflow</th>
                    </tr>
                </thead>
                <tbody>
                {% if account.postings %}
                {% for posting in account.postings %}
                    <tr>
                        <td>{{ moment(posting.journal_entry.date, local=True).format('M/DD/YYYY') }}</td>
                        <td>{{ posting.journal_entry.payee }}</td>
                        <td>
                            {% for journal_entry_posting in posting.journal_entry.postings %}
                                {% if journal_entry_posting.amount == -posting.amount %}
                                    {{ journal_entry_posting.account.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ posting.journal_entry.description }}
                        </td>
                        <td class="text-right">
                            {% if posting.amount < 0 %}
                                {{ '$%.2f'|format(-posting.amount) }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if posting.amount > 0 %}
                                {{ '$%.2f'|format(posting.amount) }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
        </section>
    {% else %}
        <h1>Accounts Page</h1>
    {% endif %}
{% endblock %}