{% from '_formhelpers.html' import form_group %}

<form class="form-floating" method="post" action="{{ url_for('dashboard.add_account') }}" novalidate>
    {{ form.hidden_tag() }}
    <div class="modal-header">
        <h5 class="modal-title" id="addAccountModalTitle">Add Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ form_group(form.account_type, class_='custom-select form-control', label=False) }}
        {{ form_group(form.account_name) }}
        {{ form_group(form.account_balance) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
