{% extends "base.html" %}
{% set active_page = active_page|default('dashboard.budget') -%}
{% from '_formhelpers.html' import form_group %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/floating_labels.css') }}">

    <style>
        .table .feather {
            width: 20px;
            height: 20px;
            vertical-align: text-bottom;
        }

        .budget-toolbar {
            font-size: .9rem;
        }

        .budget-toolbar .feather {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }

        .budget-toolbar span:hover {
            color: #212529;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block navbar %}
{# clear out upper navbar #}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="dropdown">
                        <button class="btn btn-block rounded-0 dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <dl class="mb-0 text-left">
                                <dt>{{ budget.name }}</dt>
                                <dd class="mb-0 small">{{ user.email }}</dd>
                            </dl>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">New Budget</a>
                            <a class="dropdown-item" href="#">Open Budget</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Budget Settings</a>
                            <a class="dropdown-item" href="#">Manage Payees</a>
                            <a class="dropdown-item" href="#">Export Budget</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard.budget' %} active {% endif %}" href="{{ url_for('dashboard.budget') }}">
                                <span data-feather="mail"></span>
                                Budget <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard.reports' %} active {% endif %}" href="{{ url_for('dashboard.reports') }}">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard.accounts' %} active {% endif %}" href="{{ url_for('dashboard.accounts') }}">
                                <span data-feather="book-open"></span>
                                All Accounts
                            </a>
                        </li>
                    </ul>
                    <hr/>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#budget-accordion" class="nav-link expander" data-toggle="collapse" aria-expanded="true">
                                <span data-feather="chevron-down"></span>
                                Budget
                            </a>
                            <div class="collapse show" id="budget-accordion">
                                {% if accounts %}
                                    {% for account in accounts %}
                                    <a class="nav-link {% if active_page == 'dashboard.accounts.%d' % account.id %} active {% endif %}" data-parent="#budget-accordion" href="{{ url_for('dashboard.accounts', account_id=account.id) }}"><span class="pl-4">{{ account.name }}</span></a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    <hr/>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill mt-3 ml-3" data-toggle="modal" data-target="#addAccountModal">
                        <span data-feather="plus-circle"></span>
                        Add Account
                    </button>
                </div>
            </nav>

            <!-- Dashboard Content -->
            <main role="main" class="col-lg-10 ml-sm-auto px-0">
                {% include '_messages.html' %}
                {% block dashboard_content %} {% endblock %}
            </main>

            <!-- 'Add Account' modal  -->
            <div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        {% include 'dashboard/add_account_form.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}

    {{ super () }}

    <!-- change expander icon when expanding / collapsing -->
    <script>
        $('.expander').click (function (event) {
            if (event.target != this) {
                $(this).trigger('click');
                return;
            }

            if ($(this).children('svg.feather.feather-chevron-down').length) {
                $(this).children('svg.feather.feather-chevron-down').replaceWith(feather.icons['chevron-right'].toSvg());
            } else {
                $(this).children('svg.feather.feather-chevron-right').replaceWith(feather.icons['chevron-down'].toSvg());
            }
        })
    </script>

    <!-- send modal forms via AJAX -->
    <script>
    function ajaxFormSubmission(event) {
        event.preventDefault();
        $.post($(this).attr('action'), $(this).serialize()).done(function (data) {
            if (typeof data.data !== 'undefined' && data.data.message === 'success') {
                $(event.target).closest('.modal').modal('toggle');
                location.reload();
            } else {
                newForm = $(data);
                $(event.target).replaceWith(newForm);
                newForm.on('submit', ajaxFormSubmission);
            }
        });
    }
    
    
    $(function () {
        $('.modal form').on('submit', ajaxFormSubmission);

        $('.modal').on('hide.bs.modal', function (event) {
            var form = $(event.target).find('form:first');
            form.find(':input')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .prop('checked', false)
                .prop('selected', false);

            form.find('.is-invalid').removeClass('is-invalid');
            form.find('.invalid-feedback').remove();
        });
    });
    </script>
{% endblock %}