{% extends "base.html" %}
{% set active_page = active_page|default('dashboard.budget') -%}
{% from '_formhelpers.html' import form_group %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/floating_labels.css') }}">
{% endblock %}

{% block navbar %}
{# clear out upper navbar #}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="dropdown">
                        <button class="btn btn-block rounded-0 dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <dl class="mb-0 text-left">
                                <dt>{{ budget.name }}</dt>
                                <dd class="mb-0 small">{{ user.email }}</dd>
                            </dl>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">New Budget</a>
                            <a class="dropdown-item" href="#">Open Budget</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Budget Settings</a>
                            <a class="dropdown-item" href="#">Manage Payees</a>
                            <a class="dropdown-item" href="#">Export Budget</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard.budget' %} active {% endif %}" href="{{ url_for('dashboard.budget') }}">
                                <span data-feather="mail"></span>
                                Budget <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard.reports' %} active {% endif %}" href="{{ url_for('dashboard.reports') }}">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard.accounts' %} active {% endif %}" href="{{ url_for('dashboard.accounts') }}">
                                <span data-feather="book-open"></span>
                                All Accounts
                            </a>
                        </li>
                    </ul>
                    <hr/>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#budget-accordion" class="nav-link expander" data-toggle="collapse" aria-expanded="true">
                                <span data-feather="chevron-down"></span>
                                Budget
                            </a>
                            <div class="collapse show" id="budget-accordion">
                                {% if accounts %}
                                    {% for account in accounts %}
                                    <a class="nav-link {% if active_page == 'dashboard.accounts.%d' % account.id %} active {% endif %}" data-parent="#budget-accordion" href="{{ url_for('dashboard.accounts', account_id=account.id) }}"><span class="pl-4">{{ account.name }}</span></a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    <hr/>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill mt-3 ml-3" data-toggle="modal" data-target="#addAccountModal">
                        <span data-feather="plus-circle"></span>
                        Add Account
                    </button>
                </div>
            </nav>

            <!-- Dashboard Content -->
            <main role="main" class="col-lg-10 ml-sm-auto px-0">
                {% include '_messages.html' %}

                {% block dashboard_content %} {% endblock %}
            </main>

            <!-- 'Add Account' modal  -->
            <div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form class="form-floating" method="post" action="{{ url_for('dashboard.add_account') }}" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAccountModalTitle">Add Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-label-group">
                                    {{ form.account_type(class='custom-select form-control') }}
                                </div>
                                {{ form_group(form.account_name) }}
                                {{ form_group(form.account_balance) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                {{ form.submit(class_="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}

    {{ super () }}

    <script>
        $('.expander').click (function () {
            if ( $(this).children('svg.feather.feather-chevron-down').length) {
                $(this).children('svg.feather.feather-chevron-down').replaceWith(feather.icons['chevron-right'].toSvg());
            }
            else {
                $(this).children('svg.feather.feather-chevron-right').replaceWith(feather.icons['chevron-down'].toSvg());
            }
        })
    </script>

{% endblock %}