{% extends 'dashboard/base.html' %}
{% set active_page = 'dashboard.budget' -%}

{% block dashboard_content %}
    <div class="budget-toolbar text-muted p-1">
        <span data-toggle="modal" data-target="#addCategoryGroupModal">
            <span data-feather="plus-circle"></span>
            Category Group
        </span>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Budgeted</th>
                <th scope="col">Activity</th>
                <th scope="col">Available</th>
            </tr>
        </thead>
        {% if category_groups %}
            {% for category_group in category_groups %}
                <tbody>
                    <tr class="thead-light">
                        <th>
                            <span class="expander" data-target=".budget-category-{{ category_group.id }}" data-toggle="collapse" aria-expanded="true">
                                <span data-feather="chevron-down"></span>
                            </span>
                            <span>
                                <span data-toggle="modal" data-target="#editCategoryGroupModal"> {{ category_group.name }} </span>
                                <span data-toggle="modal" data-target="#addCategoryModal" data-feather="plus-circle"></span>
                            </span>
                        </th>
                        <th>$0.00</td>
                        <th>$0.00</td>
                        <th>$0.00</td>
                    </tr>
                    {% for category in category_group.children %}
                        <tr class="budget-category-{{ category_group.id }} collapse show">
                            <th scope="row">{{ category.name }}</th>
                            <td>$0.00</td>
                            <td>$0.00</td>
                            <td>$0.00</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        {% endif %}
    </table>

    <!-- 'Add Category Group' modal  -->
    <div class="modal fade" id="addCategoryGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% include 'dashboard/add_category_group_form.html' %}
            </div>
        </div>
    </div>

    <!-- 'Edit Category Group' modal  -->
    <div class="modal fade" id="editCategoryGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% include 'dashboard/edit_category_group_form.html' %}
            </div>
        </div>
    </div>

    <!-- 'Add Category' modal  -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% include 'dashboard/add_category_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}

    <script>
        var edit_category_group_default_url;
        var add_category_default_url;

        $(function () {
            $('#editCategoryGroupModal').on('show.bs.modal', function (event) {
                var category_group = $(event.relatedTarget).text().trim();
                edit_category_group_default_url = $(event.target).find('form:first').attr('action');
                form = $(event.target).find('form:first');
                form.find('label[for="new_category_group"]').text(category_group);
                form.attr('action', $(event.target).find('form:first').attr('action') + '/edit_category_group/' + category_group);
            });

            $('#editCategoryGroupModal').on('hide.bs.modal', function (event) {
                $(event.target).find('form:first').attr('action', edit_category_group_default_url);
            });

            $('#editCategoryGroupModal .btn.btn-danger').on('click', function (event) {
                form = $(this).closest('form');

                $.post(form.attr('action') + '/delete').done(function (data) {
                    if (typeof data.data !== 'undefined' && data.data.message === 'success') {
                        location.reload();
                    }
                });
            });


            $('#addCategoryModal').on('show.bs.modal', function (event) {
                var category_group = $(event.relatedTarget).parent().text().trim();
                add_category_default_url = $(event.target).find('form:first').attr('action');
                $(event.target).find('form:first').attr('action', $(event.target).find('form:first').attr('action') + '/' + category_group + '/add_category');
            });

            $('#addCategoryModal').on('hide.bs.modal', function (event) {
                $(event.target).find('form:first').attr('action', add_category_default_url);
            });
        });

    </script>
{% endblock %}