{% extends 'dashboard/base.html' %}
{% set active_page = 'dashboard.budget' -%}

{% block dashboard_content %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Budgeted</th>
                <th scope="col">Activity</th>
                <th scope="col">Available</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thead-light">
                <th> 
                    <span class="expander" data-target=".budget-category-savings" data-toggle="collapse" aria-expanded="true">
                        <span data-feather="chevron-down"></span>
                    </span>
                    Savings
                </th>
                <th>$0.00</td>
                <th>$0.00</td>
                <th>$0.00</td>
            </tr>
            <tr class="budget-category-savings collapse show">
                <th scope="row">Emergency Fund</th>
                <td>$0.00</td>
                <td>$0.00</td>
                <td>$0.00</td>
            </tr>
            <tr class="budget-category-savings collapse show">
                <th scope="row">Mortgage</th>
                <td>$0.00</td>
                <td>$0.00</td>
                <td>$0.00</td>
            </tr>
            <tr class="budget-category-savings collapse show">
                <th scope="row">IRA</th>
                <td>$0.00</td>
                <td>$0.00</td>
                <td>$0.00</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="thead-light"> 
                <th>
                    <span class="expander" data-target=".budget-category-personal" data-toggle="collapse" aria-expanded="true">
                        <span data-feather="chevron-down"></span>
                    </span>
                    Personal
                </th>
                <th>$0.00</td>
                <th>$0.00</td>
                <th>$0.00</td>
            </tr>
            <tr class="budget-category-personal collapse show">
                <th scope="row">Household Goods</th>
                <td>$0.00</td>
                <td>$0.00</td>
                <td>$0.00</td>
            </tr>
            <tr class="budget-category-personal collapse show">
                <th scope="row">Clothes</th>
                <td>$0.00</td>
                <td>$0.00</td>
                <td>$0.00</td>
            </tr>
        </tbody>
    </table>
{% endblock %}