{% extends "base.html" %}

{% block navbar %}
{# clear out upper navbar #}
{% endblock %}

{% block app_content %}
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading dropdown">
            <a class="d-flex justify-content-between align-items-center dropdown-toggle list-group-item-action" href="#" role="button" id="sidebar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <dl class="mb-0">
                <dt>Budget</dt>
                <dd class="mb-0 small">Email</dd>
              </dl>
            </a>
            <div class="dropdown-menu" aria-labelledby="sidebar-dropdown">
              <a class="dropdown-item" href="#">New Budget</a>
              <a class="dropdown-item" href="#">Open Budget</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Budget Settings</a>
              <a class="dropdown-item" href="#">Manage Payees</a>
              <a class="dropdown-item" href="#">Export Budget</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Budget</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Accounts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Reports</a>
            <a href="#budget-accordion" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-parent="#sidebar-wrapper">Budget</a>
            <div class="collapse show" id="budget-accordion">
                <a href="#" class="list-group-item list-group-item-action bg-light" data-parent="#budget-accordion">Account 1</a>
                <a href="#" class="list-group-item list-group-item-action bg-light" data-parent="#budget-accordion">Account 2</a>
                <a href="#" class="list-group-item list-group-item-action bg-light" data-parent="#budget-accordion">Account 3</a>
            </div>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
          </nav>
    
          <div class="container-fluid">
            <h1 class="mt-4">Simple Sidebar</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
    </script>
{% endblock %}
    