{% macro form_group(field, quick_form_label) -%}
    <div class="form-group required">
        {% set class_ = kwargs.pop('class_', '') %}
        {% set with_label = kwargs.pop('with_label', False) %}
        {% set placeholder = '' %}
        {% if not with_label and not quick_form_label %}
            {% set placeholder = field.label.text %}
        {% endif %}
        {% if with_label or quick_form_label %}
            <label for="{{ field.id }}" class="form-control-label">
                {{ field.label }}
            </label>
        {% else %}
            <label for="{{ field.id }}" class="sr-only form-control-label">
                {{ field.label }}
            </label>
        {% endif %}
        {% if field.errors %}
            {% set class_ = class_ + " form-control is-invalid" %}
            {{ field(class_=class_, placeholder=placeholder) }}
        {% else %}
            {% set class_ = class_ + " form-control" %}
            {{ field(class_=class_, placeholder=placeholder) }}
        {% endif %}
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors[0] }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro quick_form(form) -%}
    {% set class_ = kwargs.pop('class_', '') %}
    {% set with_label = kwargs.pop('with_label', False) %}
    <form class="{{ class_ }}" method="post" action="">
    {% for field in form %}
        {% if field.type in ('HiddenField', 'CSRFTokenField') %}
            {{ field() }}
        {% elif field.type == 'SubmitField' %}
            {{ field(class_="btn btn-lg btn-primary btn-block") }}
        {% else %}
            {{ form_group(field, with_label) }}
        {% endif %}
    {% endfor %}
    </form>
{% endmacro %}